*{box-sizing: border-box;}

.nav-bar{
    list-style-type: none;
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
}
.nav-item{
    display: flex;
    flex-wrap: wrap;
    margin: 0 10px;
    
    &:first-child{
        margin-right: auto;
    }
}

.nav-item a, .footer-item a{
    text-decoration: none;
    color: black;
}

.carousel{
    border: 1px solid #000;
    height: 200px;
    position: relative;
    z-index: 99;

}

.carousel-item{
    position: absolute;
    width: 100%;
    height: 100%;
}

.carousel-item-red{
    background-color: red;
}
.carousel-item-blue{
    background-color: blue;
}
.carousel-item-green{
    background-color: green;
}

.carousel-btn{
    position: absolute;
    top: 45%;
    &:hover{
        background-color: gray;
        cursor: pointer;
    }
}

.carousel-right{
    right: 0;
}

.shape1{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: red;
    z-index: 99;
}

.shape2{
    height: 200px;
    width: 200px;
    background-color: blue;
    z-index: 99;
}

.shape3{
    height: 200px;
    width: 200px;
    background-color: green;
    z-index: -99;
}

.tri{
    width: 150%;
    height: 100%;
    background-color: white;
    transform: 
        rotate(45deg)
        translate(-10%, -32%);
    z-index: -;
}

.shape4{
    height: 200px;
    background-color: red;
    aspect-ratio: 1/cos(30deg);
    clip-path: polygon(50% -50%, 100% 50%, 50% 150%, 0 50%);
}

.shape5{
    width: 200px;
    aspect-ratio: 10/6;
    border-radius: 50%;
    background-color: lime;
}
.shape6{
    height: 200px;
    background-color: black;
    
}


.footer-list{
    list-style-type: none;
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.footer-item{
    display: flex;
    margin: 0 10px;
}